.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flexAligCEnter{
  display: flex;
  align-items: center;
}

.avatar{
  width: 80px !important;
  height: auto !important;
  margin: auto;
}

.m-14{
  margin: 14px !important;
}

.media{
  height: 140px;
  width: 90% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 60% !important;
}

.flex{
  display: flex;

}
.grpImg{
  height: 300px !important;
    width: 400px !important;
    border-radius: 0% !important;
}

.justifyAround{
  justify-content: space-around !important;
}
.listcomp{
  border: 1px solid;
  position: relative;
  top: 30%;
  left: 5%;

}

.App-header img{
  height: 50px;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}